<mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </mat-header-cell>
    <mat-cell *matCellDef="let budgetExpense"> {{budgetExpense.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount"> Amount </mat-header-cell>
    <mat-cell *matCellDef="let budgetExpense"> {{budgetExpense.amount | currency: 'USD'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type"> Type </mat-header-cell>
    <mat-cell *matCellDef="let budgetExpense"> {{displayBudgetExpenseType(budgetExpense.type)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="options">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let budgetExpense">
      <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="bill options" aria-label="view budget expense {{budgetExpense.name}} options" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #optionsMenu="matMenu">
        <button mat-menu-item (click)="editBudgetExpense(budgetExpense)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteBudgetExpense(budgetExpense)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
