<mat-card *ngIf="expense">
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="saveExpense()" class="d-flex flex-column">
      <ng-container>
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>enter the expense name</mat-label>
          <input [(ngModel)]="expense.name" matInput name="name" required>
          <mat-hint align="end">name used to identify expense</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>enter the amount</mat-label>
          <input [(ngModel)]="expense.amount" name="amount" matInput type="number" min="0" step="0.01" required>
          <span matPrefix>$&nbsp;</span>
          <mat-hint align="end">amount due to satisfy the expense</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>select the expense type</mat-label>
          <mat-select [(ngModel)]="expense.type" name="type" required>
            <mat-option *ngFor="let expenseType of expenseTypes" [value]="expenseType.key">
              {{expenseType.value}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">select the type of expense to categorize under</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>due on</mat-label>
          <input matInput [(ngModel)]="expense.due" name="due" [matDatepicker]="duePicker" required>
          <mat-datepicker-toggle matSuffix [for]="duePicker"></mat-datepicker-toggle>
          <mat-datepicker #duePicker></mat-datepicker>
          <mat-hint align="end">select the date this expense will be due</mat-hint>
        </mat-form-field>
      </ng-container>
      <div class="mb-2 d-flex flex-column">
        <mat-label>expense reoccurs?</mat-label>
        <mat-slide-toggle [(ngModel)]="expense.reoccurs" name="reoccurs" color="primary"></mat-slide-toggle>
      </div>
      <ng-container *ngIf="expense.reoccurs">
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>select the reoccurrence frequency</mat-label>
          <mat-select [(ngModel)]="expense.interval" name="interval" [required]="expense.reoccurs">
            <mat-option *ngFor="let reoccurrence of reoccurrences" [value]="reoccurrence.key">
              {{reoccurrence.value}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">select how often this expense is expected to reoccur</mat-hint>
        </mat-form-field>
      </ng-container>
      <div class="d-flex flex-end">
        <div class="mr-2">
          <button mat-raised-button color="accent" id="cancelButton" class="mr-2" (click)="cancelEditExpense()" type="button">cancel</button>
        </div>
        <div>
          <button [disabled]="!form.valid" mat-raised-button color="primary" class="ml-2" id="saveButton" type="submit">save new expense</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
