<mat-card>
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <button class="mr-1" [disabled]="disableNewExpense" mat-raised-button color="accent" id="newBillButton" (click)="createNewExpense()"  matTooltip="add a new bill">Add New Bill</button>
        <button class="ml-1" (click)="recurringBillsSelected()" [disabled]="disablePrepareRecurring" mat-raised-button color="primary" id="prepareRecurringButton"  matTooltip="prepare recurring bills">Prepare Recurring</button>
      </div>
      <div>
        <button mat-icon-button matTooltip="filter current list of bills" aria-label="filter current bills" [matMenuTriggerFor]="filterMenu">
          <mat-icon *ngIf="filtered">filter_list_off</mat-icon>
          <mat-icon *ngIf="!filtered">filter_list</mat-icon>
        </button>
        <mat-menu #filterMenu="matMenu">
          <button *ngIf="filtered" mat-menu-item (click)="filterExpenses('clear')">
            <mat-icon>close</mat-icon>
            <span>Clear Filter</span>
          </button>
          <hr *ngIf="filtered">
          <button mat-menu-item [matMenuTriggerFor]="filterByTypeMenu">
            <mat-icon>merge_type</mat-icon>
            <span>By Type</span>
          </button>
        </mat-menu>
        <mat-menu #filterByTypeMenu="matMenu">
          <button mat-menu-item (click)="filterExpenses('need')">
            <span>Need</span>
          </button>
          <button mat-menu-item (click)="filterExpenses('want')">
            <span>Want</span>
          </button>
          <button mat-menu-item (click)="filterExpenses('extra')">
            <span>Extra</span>
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="sortMenu" matTooltip="sort current list of bills" aria-label="sort current bills">
          <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #sortMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="sortByTypeMenu">
            <mat-icon>merge_type</mat-icon>
            <span>By Type</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="sortByCostMenu">
            <mat-icon>attach_money</mat-icon>
            <span>By Cost</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="sortByDateMenu">
            <mat-icon>schedule</mat-icon>
            <span>By Date</span>
          </button>
        </mat-menu>
        <mat-menu #sortByTypeMenu="matMenu">
          <button mat-menu-item (click)="sortExpenses('byTypeNeedToExtra')">
            <mat-icon>attach_money</mat-icon>
            <span>Need to Extra</span>
          </button>
          <button mat-menu-item (click)="sortExpenses('byTypeExtraToNeed')">
            <mat-icon>attach_money</mat-icon>
            <span>Extra to Need</span>
          </button>
        </mat-menu>
        <mat-menu #sortByCostMenu="matMenu">
          <button mat-menu-item (click)="sortExpenses('byCostLowToHigh')">
            <mat-icon>attach_money</mat-icon>
            <span>Low to High</span>
          </button>
          <button mat-menu-item (click)="sortExpenses('byCostHighToLow')">
            <mat-icon>attach_money</mat-icon>
            <span>High to Low</span>
          </button>
        </mat-menu>
        <mat-menu #sortByDateMenu="matMenu">
          <button mat-menu-item (click)="sortExpenses('byDateStartSoonToFar')">
            <mat-icon>update</mat-icon>
            <span>Begin Sooner</span>
          </button>
          <button mat-menu-item (click)="sortExpenses('byDateStartFarToSoon')">
            <mat-icon>history</mat-icon>
            <span>Begin Later</span>
          </button>
          <button mat-menu-item (click)="sortExpenses('byDateDueSoonToFar')">
            <mat-icon>update</mat-icon>
            <span>Due Sooner</span>
          </button>
          <button mat-menu-item (click)="sortExpenses('byDateDueFarToSoon')">
            <mat-icon>history</mat-icon>
            <span>Due Later</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
