<mat-card-content *ngIf="budget">
  <form #form="ngForm" (ngSubmit)="saveBudget()" class="d-flex flex-column">
    <mat-form-field appearance="fill" class="w-100 mr-2">
      <mat-label>Budget Name</mat-label>
      <input [(ngModel)]="budget.name" name="name" matInput type="text" required>
      <mat-hint align="end">friendly name of the budget</mat-hint>
    </mat-form-field>
    <div class="d-flex w-100 justify-content-between mb-2">
      <mat-form-field appearance="fill" class="w-100 mr-2">
        <mat-label>Yearly salary</mat-label>
        <input [(ngModel)]="budget.salary" name="salary" matInput type="number" min="0" step="0.01" required>
        <span matPrefix>$&nbsp;</span>
        <mat-hint align="end">amount earned on a yearly basis in dollars</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hourly pay (calculated)</mat-label>
        <input value="{{(budget.salary/52/40) | number: '1.2-2'}}" matInput step="0.01" type="number" readonly [disabled]="true">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <mat-form-field appearance="fill">
        <mat-label>Gross monthly pay</mat-label>
        <input [(ngModel)]="budget.grossMonthlyPay" name="grossMonthlyPay" matInput type="number" min="0" step="0.01" required>
        <span matPrefix>$&nbsp;</span>
        <mat-hint align="end">amount earned before taxes and deductions</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Net monthly pay</mat-label>
        <input [(ngModel)]="budget.netMonthlyPay" name="netMonthlyPay" matInput type="number" min="0" step="0.01" required>
        <span matPrefix>$&nbsp;</span>
        <mat-hint align="end">amount earned in 1 month</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Net monthly deductions</mat-label>
        <input value="{{budget.grossMonthlyPay - budget.netMonthlyPay}}" matInput type="number" min="0" step="0.01" readonly disabled>
        <span matPrefix>$&nbsp;</span>
        <mat-hint align="end">amount withheld in 1 pay period (calculated)</mat-hint>
      </mat-form-field>
    </div>
    <div class="d-flex">
      <div class="mb-2 d-flex flex-column">
        <mat-label>what-if budget?</mat-label>
        <mat-slide-toggle [(ngModel)]="budget.isWhatIf" name="whatIfBudget"></mat-slide-toggle>
      </div>
    </div>
    <div class="d-flex flex-end">
      <div class="mr-2">
        <button mat-raised-button color="accent" id="cancelButton" class="mr-2" (click)="cancelEditBudget()" type="button">cancel</button>
      </div>
      <div>
        <button [disabled]="!form.valid" mat-raised-button color="primary" class="ml-2" id="saveButton" type="submit">save budget</button>
      </div>
    </div>
  </form>
</mat-card-content>
