<mat-card *ngIf="bill != undefined && !edit">
  <mat-card-header>
    <div class="d-flex justify-content-end w-100">
      <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="bill options" aria-label="view bill {{bill.expense.name}} options" >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #optionsMenu="matMenu">
        <button mat-menu-item (click)="edit = !edit">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteBill(bill)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-around">
      <div class="d-flex flex-column">
        <strong>Name</strong>
        <hr class="w-100" />
        <p>{{bill.expense.name}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Type</strong>
        <hr class="w-100" />
        <p>{{bill.expense.type}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Amount</strong>
        <hr class="w-100" />
        <p>{{bill.expense.amount}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Reoccurs</strong>
        <hr class="w-100" />
        <p>{{bill.reoccurrence == 'Single'? 'No' : bill.reoccurrence}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Starts On</strong>
        <hr class="w-100" />
        <p>{{displayDate(bill.begin)}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Due On</strong>
        <hr class="w-100" />
        <p>{{displayDate(bill.due)}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-edit-expense-block *ngIf="edit" [bill]="bill" (cancel)="edit = !edit" (save)="saveBill($event)"></app-edit-expense-block>
