<mat-card *ngIf="expense != undefined && !edit">
  <mat-card-header>
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex align-items-center">
        <p class="mat-card-title mb-0">{{expense.name}}</p>
        <p class="mat-card-subtitle d-flex my-0 mx-1" *ngIf="expense.paidOn"> {{displayDate(expense.paidOn)}}</p>
      </div>
      <div class="d-flex align-items-center">
        <button *ngIf="expense.paidOn" mat-icon-button  aria-label="marked as paid" [disabled]="true" >
          <mat-icon matTooltip="paid">paid</mat-icon>
        </button>
        <button *ngIf="!expense.paidOn" [matMenuTriggerFor]="paidOptionsMenu" mat-icon-button aria-label="not paid" >
          <mat-icon matTooltip="mark paid">attach_money</mat-icon>
        </button>
        <mat-menu #paidOptionsMenu="matMenu">
          <button mat-menu-item (click)="markPaid(expense, 'today')">
            <span>Today</span>
          </button>
          <button mat-menu-item (click)="markPaid(expense, 'onDue')">
            <span>On Due</span>
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="bill options" aria-label="view bill {{expense.name}} options" >
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #optionsMenu="matMenu">
          <button mat-menu-item (click)="edit = !edit">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteExpense(expense)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-around">
      <div class="d-flex flex-column">
        <strong>Type</strong>
        <hr class="w-100" />
        <p>{{displayExpenseType(expense.type)}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Amount</strong>
        <hr class="w-100" />
        <p>{{expense.amount | currency: 'USD'}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Reoccurs</strong>
        <hr class="w-100" />
        <p>{{displayReoccurrenceType(expense.interval)}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Due On</strong>
        <hr class="w-100" />
        <p>{{displayDate(expense.due)}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-edit-expense-block *ngIf="edit" [expense]="expense" (cancel)="edit = !edit" (save)="saveExpense($event)"></app-edit-expense-block>
