<div class="panel">
  <app-header-block
    [blockTitle]="headerBlock.blockTitle"
    [blockSubtitle]="headerBlock.blockSubtitle"
    [blockContent]="headerBlock.blockContent"
    class="block"
  ></app-header-block>
  <div class="block">
    <mat-card *ngIf="budget && !edit">
      <mat-card-header>
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex align-items-center">
            <p class="mat-card-title mb-0">Details</p>
          </div>
          <div class="d-flex align-items-center">
            <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="budget options" aria-label="view budget options" >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #optionsMenu="matMenu">
              <button mat-menu-item (click)="edit = !edit">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-around">
          <div class="d-flex flex-column">
            <strong>Salary</strong>
            <hr class="w-100" />
            <p>{{budget.salary | currency: 'USD'}}</p>
          </div>
          <div class="d-flex flex-column">
            <strong>Monthly Pay</strong>
            <hr class="w-100" />
            <p>{{budget.netMonthlyPay | currency: 'USD'}}</p>
          </div>
          <div class="d-flex flex-column">
            <strong>Monthly Deductions</strong>
            <hr class="w-100" />
            <p>{{budget.netMonthlyDeductions | currency: 'USD'}}</p>
          </div>
          <div class="d-flex flex-column">
            <strong>What-If?</strong>
            <hr class="w-100" />
            <p>{{budget.isWhatIf == false? 'No (Primary)': 'Yes'}}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="edit">
      <app-edit-budget-block [budget]="budget" (cancel)="edit = !edit" (save)="saveBudget($event)"></app-edit-budget-block>
    </mat-card>
  </div>
</div>
