<mat-card *ngIf="income != undefined && !edit">
  <mat-card-header>
    <div class="d-flex justify-content-end w-100">
      <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="income options" aria-label="view income options" >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #optionsMenu="matMenu">
        <button mat-menu-item (click)="edit = !edit">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteIncome(income)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-around">
      <div class="d-flex flex-column">
        <strong>Incoming Balance</strong>
        <hr class="w-100" />
        <p>$ {{displayMoney(income.incomingBalance)}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Amount</strong>
        <hr class="w-100" />
        <p>$ {{displayMoney(income.amount)}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Type</strong>
        <hr class="w-100" />
        <p>{{displayIncomeType(income.type)}}</p>
      </div>
      <div class="d-flex flex-column">
        <strong>Date</strong>
        <hr class="w-100" />
        <p>{{displayDate(income.date)}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-edit-income-block *ngIf="edit" [income]="income" (cancel)="edit = !edit" (save)="saveIncome($event)"></app-edit-income-block>
