<mat-table [dataSource]="expenses">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let expense"> {{expense.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let expense"> {{expense.amount | currency: 'USD'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let expense"> {{displayExpenseType(expense.type)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="paidOn">
    <mat-header-cell *matHeaderCellDef> Paid On </mat-header-cell>
    <mat-cell *matCellDef="let expense">
      <ng-container *ngIf="expense.paidOn">
        {{expense.paidOn | date: 'MM/dd/yyyy'}}
      </ng-container>
      <ng-container *ngIf="!expense.paidOn">
        <button [matMenuTriggerFor]="paidOptionsMenu" mat-icon-button aria-label="not paid" >
          <mat-icon matTooltip="mark paid">attach_money</mat-icon>
        </button>
        <mat-menu #paidOptionsMenu="matMenu">
          <button mat-menu-item (click)="markPaid(expense, 'today')">
            <span>Today</span>
          </button>
          <button mat-menu-item (click)="markPaid(expense, 'onDue')">
            <span>On Due</span>
          </button>
        </mat-menu>
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="due">
    <mat-header-cell *matHeaderCellDef> Due </mat-header-cell>
    <mat-cell *matCellDef="let expense"> {{expense.due | date: 'MM/dd/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reoccurs">
    <mat-header-cell *matHeaderCellDef> Reoccurs </mat-header-cell>
    <mat-cell *matCellDef="let expense"> {{displayReoccurrenceType(expense.interval)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="options">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let expense">
      <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="bill options" aria-label="view bill {{expense.name}} options" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #optionsMenu="matMenu">
        <button mat-menu-item (click)="editExpense(expense)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteExpense(expense)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
