<mat-card>
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <h4>Total Outgoing: $ {{expenseTotal}}</h4>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Showing expenses for</mat-label>
          <mat-select [(ngModel)]="showingExpenses" (selectionChange)="showExpensesFor(showingExpenses)">
            <mat-option *ngFor="let expenseFor of expensesFor" [value]="expenseFor.key">
              {{expenseFor.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>
</mat-card>
