<div #navwrap *ngIf="isOpen" class="d-flex w-100 h-100 pos-abs t-0 z-0" (click)="toggleNavigation()">
</div>
<nav [@openClose]="isOpen? 'open' : 'closed'" class="bg-dark">
  <mat-action-list>
    <button mat-list-item routerLink="/" (click)="toggleNavigation()"> Home </button>
    <hr/>
    <button mat-list-item routerLink="/budget" (click)="toggleNavigation()"> Budget </button>
    <hr/>
    <button mat-list-item routerLink="/expenses" (click)="toggleNavigation()"> Expenses </button>
    <hr/>
    <button mat-list-item routerLink="/income" (click)="toggleNavigation()"> Income </button>
    <hr/>
    <button mat-list-item routerLink="/what-if" (click)="toggleNavigation()"> What-If? </button>
  </mat-action-list>
</nav>
<div [@openClose]="isOpen? 'open' : 'closed'"></div>
