<mat-card *ngIf="income">
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="saveIncome()" class="d-flex flex-column">
      <ng-container>
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>enter the incoming balance</mat-label>
          <input [(ngModel)]="income.incomingBalance" matInput type="number" name="incomingBalance" min=".01" step="0.01" required>
          <span matPrefix>$&nbsp;</span>
          <mat-hint align="end">amount carried over, or previously existing in account(s)</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>enter the amount</mat-label>
          <input [(ngModel)]="income.amount" matInput type="number" name="amount" min=".01" step="0.01" required>
          <span matPrefix>$&nbsp;</span>
          <mat-hint align="end">amount coming into account(s)</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="mb-2">
          <mat-label>select the income type</mat-label>
          <mat-select [(ngModel)]="income.type" name="type" required>
            <mat-option *ngFor="let incomeType of incomeTypes" [value]="incomeType.key">
              {{incomeType.value}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">select the type of income to categorize under</mat-hint>
        </mat-form-field>
      </ng-container>
      <mat-form-field appearance="fill" class="mb-2">
        <mat-label>select the date</mat-label>
        <input matInput [(ngModel)]="income.date" [matDatepicker]="datePicker" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
        <mat-hint align="end">select the date this income should be recorded for</mat-hint>
      </mat-form-field>
      <div class="d-flex flex-end">
        <div class="mr-2">
          <button mat-raised-button color="accent" id="cancelButton" class="mr-2" (click)="cancelNewIncome()" type="button">cancel</button>
        </div>
        <div>
          <button [disabled]="!form.valid" mat-raised-button color="primary" class="ml-2" id="saveButton" type="submit">save income</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
